body {
    font-family: Lato, sans-serif;;
    padding: 40px;
    background-color: #EAE7DC;
}

header {
    padding: 40px;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -40px;
    background-color: #E85A4F
}

#header-title {
    font-family: Papyrus;
    color: #FFFFFF;
    font-size: xx-large;
    font-weight: bolder;
}

#main {
     padding-top: 40px;
}

#posters-grid {
    text-align: justify;
}

#posters-grid img {
    width: 125px;
    cursor: pointer;
    transition: transform 0.3s;
    padding: 6px;
    border-radius: 12px;
}

#posters-grid img:hover {
    transform: scale(1.1);
}

#placeholder {
    padding: 12px;
    margin: 6px;
    height: fit-content;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.4);
}

#placeholder-title {
    text-align: center;
    font-size: large;
    font-weight: bolder;
}

#project-icon {
    color: #E85A4F;
    font-size: xx-large;
}

#project-name {
    font-family: Papyrus;
    color: #E85A4F;
    font-size: xx-large;
    font-weight: bolder;
}

#placeholder-body {
    font-size: large;
    text-align: justify;
}

#placeholder-instruction {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

 #details-content {
     margin: 6px;
     height: fit-content;
     border-radius: 12px;
     background-color: rgba(255, 255, 255, 0.4);
     position: relative;
}

#movie-cover-image {
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    display: block;
    z-index: -1;
}

#details-content-main {
    padding: 16px;
}

#details-content-metadata {
    position: relative;
    margin: 0px;
    margin-top: -92px;
    padding: 12px;
    border-radius: 12px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
}

#movie-poster-image {
    padding: 6px;
    width: 100%;
    border-radius: 12px;
}

#details-content-metadata #movie-title {
    padding-left: 12px;
    padding-top: 6px;
    color: #E85A4F;
    font-size: larger;
    font-weight: bolder;
}

#details-content-metadata #movie-release-date {
    padding-left: 12px;
    font-size: x-small;
    font-weight: bold;
}

#details-content-metadata #movie-genres {
    padding-right: 12px;
    font-size: x-small;
    font-weight: bold;
}

#details-content-metadata #movie-plot-synopsis {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 6px;
}

#details-content-review {
    margin: 0px;
    padding: 12px;
    border-radius: 12px;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1.0);
}

#details-content-review-evaluation-main {
    margin: 0px;
}

.details-content-review-evaluation {
    padding: 12px;
}

#movie-review-evaluation {
    margin: 0px;
    padding: 12px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 1.0);
    float: left;
    text-align: left;
}

#review-evaluation-title {
    color: #E85A4F;
    font-size: larger;
    font-weight: bolder;
    float: left;
}

#review-evaluation-rating-block {
    float: right;
    font-weight: bolder;
}

#review-evaluation-star {
    color: #FFCC00;
    font-size: larger;
}

#review-evaluation-rating {
    color: #FFCC00;
    font-size: larger;
}

#review-evaluation-content {
}
